<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufjf.dcc196.ana.trabalho2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.PrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ParticipantesActivity"
            android:label="BienalAPP - Participantes" />
        <activity
            android:name=".view.LivroActivity"
            android:label="BienalAPP - Livros" />
        <activity
            android:name=".view.ReservaActivity"
            android:label="BienalAPP - Reservas" />
        <activity
            android:name=".view.LivroListaActivity"
            android:label="BienalAPP - Livros" />
        <activity
            android:name=".view.ReservaListaActivity"
            android:label="BienalAPP - Livros e Reservas" />
        <activity android:name=".view.ParticipanteDadoActivity" android:label="BienalAPP - Participantes"></activity>
    </application>

</manifest>